.post-footer{
    text-align:right;
    font-size:10px;
}
.post{
    margin-bottom:10px;
    border-bottom:1px solid #cdcdcd;
}
.post-title{
    font-size:20px;
}
.first-content{
    border-bottom:1px solid #cdcdcd;
}
.post-center{
    text-align:center;
    padding-bottom:30px;
    padding-top:10px;
}