.post-footer{
    text-align:right;
    font-size:10px;
}
.post{
    margin-bottom:10px;
    border-bottom:1px solid #cdcdcd;
}
.post-title{
    font-size:20px;
}
.first-content{
    border-bottom:1px solid #cdcdcd;
}
.post-center{
    text-align:center;
    padding-bottom:30px;
    padding-top:10px;
}
.post{
    padding:10px;
}
.post-item{
    cursor:pointer;
}
.post-item:hover{
    background-color: #f2f2f2;
}
.sp-comments{
    margin-right:20px;
}
.new-drain{
    margin-top:16px;
    margin-left:16px;
}
#message, #comment{
    height:100px;
    resize:none;
}
.dv-home-text{
    max-width:900px;
}
.home-text{
    color:black;
}